/*.square {
  color:black;
  border-color:black;
}

.content {
  color:black;
  border-color:inherit;
}*/
.container {
    position:relative;
}
.row1, .row2 {
    position: relative;
    width: 80%;
    height: 128px;
    color: grey;
    border: 1px solid black;
    background-color: rgba(188,185,185,0.5);
    margin: 0 auto;
}
.player1 {
    position:absolute;
    left: ;
}

.player2 {
    position:absolute;
    left: ;
}
.finishLine {
    
}

h1 {
   text-align: center;
}
